<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Form</title>
</head>
<body>
    <?php include_once "templates/header.html" ?>

    <h2>Child Form</h2>

    <?php if($childFormSent): ?>
        <h4>Your form is sent succesfully!</h4>
    <?php endif; ?>

    <form action="?page=child_post" method="post" id="child_form">

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" autofocus required> *<br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br><br>

        <label for="toy">Toy:</label>
        <input type="text" id="toy" name="toy"><br><br>

        <input type="submit" value="Send">
        <input type="reset" value="Cancel"><br><br>
    </form>
    
    <?php include_once "templates/footer.html" ?>
</body>
</html>